:root{
    --secondary-color:rgba(235, 108, 39, 1); 
}
body{
    margin: 0em;
}
html{
    font-family: 'Open Sans', sans-serif;
    color:rgba(58, 58, 58, 1);
    scroll-behavior: smooth;
}
p{
    font-family: 'Inter', sans-serif;
    margin-bottom: 0px;
    font-size: 14px;
}
a{
    text-decoration: none;
    color:inherit;
}
h2{
    letter-spacing: -0.05em;
}
nav{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    width: 100%;
}
img{
    width: 100%;
    height: 100%;
    display: block;
    margin:0;
    padding: 0;
    object-fit: cover;
}
menu li{
    color:white;
    list-style-type: none;
}
.navbar__logo{
    margin: 10px;
    width: 130px;
    height: 60%;
}
.navbar{
    position: relative;
    display: flex;
    justify-content: space-between;
}
a.hamburger{
    color:black;
    text-transform: uppercase;
}
.menu{
    margin-top: 25px;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    background-color: #EB6C27;
    padding: 1em;
    gap: 0.5em;
}

.menu a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid currentColor;
    text-transform: uppercase;
}
.menu a:hover {
    font-weight: bolder;
}

menu::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    margin-right: calc((46px - 25px) / 2);
    transform: translateY(-100%);
    border: 12.5px solid white;
    border-bottom-color: #EB6C27;
    border-bottom-style: solid;
    border-bottom-width: 25px;
    border-top: none;
}


.hamburger {
    flex-direction: column;
    align-items: center;
    display: none;
}

.hamburger::after {
    content: url(../media/hamburger.svg);
}


@media screen and (max-width: 832px) {
    .hamburger { 
        display: flex;
    } 
    .hamburger-menu--hidden {
        display: none;
    }
}

.home-title{
    background: linear-gradient(0deg, rgba(36, 36, 36, 0.4), rgba(36, 36, 36, 0.4)), linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #42332A 0%, rgba(255, 255, 255, 0) 100%),url(../media/pageheader-1920w.jpg);
    background-blend-mode: normal, normal, hue, normal;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    flex-direction: column;
    padding-bottom: 20px;
}
.home-title--text{
    font-weight: 800;
    margin:0px;
}
.home-title--text > h1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-title--text >h1> span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin:0px;
    font-size: 20px;
}
.content-wrapper{
    margin:0 21px 0 21px;
}
.introduction{
    display: flex;
    flex-direction: column;
    padding-top:55px;
    padding-bottom: 2em;
}
#introduction--title{
    margin-bottom: 20px;
    letter-spacing: -0.05em;
    font-size: 22px;
    font-weight: 700;
}
.two-colors{
    color: var(--secondary-color);
}
.services--img>img{
    border-radius: 0px 0px 40px 0px;
}
.services--img>img{
    border-radius: 0px 0px 0px 20px;
}
.s.services--img>img{
    border-radius: 0px 0px 40px 0px;
}
.services--img>img{
    border-radius: 0px 0px 0px 40px;
}
.services--img{
    object-fit: cover;
}
.cta__button--dashed{
    border: 2px dashed var(--secondary-color);
    color: var(--secondary-color);
    font-family:'Inter', sans-serif;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 12px 40px;
    margin-bottom: 40px;
    margin-top: 20px;
}
.duvera{
    background:linear-gradient(0deg, rgba(36, 36, 36, 0.8), rgba(36, 36, 36, 0.8)), linear-gradient(180deg, rgba(66, 51, 42, 0.4) 0%, rgba(255, 255, 255, 0) 100%),url(../media/background-CTAblock-4460w.jpg);
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 190px;
    font-weight: 700;
    padding: 23px 20px 20px 20px;
    font-size: 17px;
}
.reference > div >a>img{
    width: 320px;
}
.cta__button--orange{
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: white;
    font-family:'Inter', sans-serif;
    font-weight: 700;
    display: inline-block;
    text-decoration: none;
    padding: 12px 40px;
    margin-bottom: 21px;
    margin-top: 20px;
    font-size:14px;
}
.reference{
    margin:0 21px 0 21px;
    text-align: center;
}
.reference__text{
    margin-bottom: 62px;
}
.reference__item{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}
.reference--main{
    margin-top: 64px;
    margin-bottom: 90px;
}
.reference__item >h2{
    margin-bottom: 0px;
}
.reference__item >p{
    margin-top: 0px;
}
#btn-reference{
    margin-bottom: 100px;
}
footer{
    background-color: var(--secondary-color);
    color:white;
    text-align: center;
    padding-top: 65px;
}
.article{
    padding-bottom: 50px;
}
.footer__text--title{
    font-size: 22px !important;
    font-weight: 700;
}
.footer__text{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.footer__text > p{
    font-size: 15px;
}
.cta__button--white{
    border: 2px solid white;
    background-color: white;
    color: var(--secondary-color);
    font-family:'Inter', sans-serif;
    font-weight: 700;
    display: inline-block;
    text-decoration: none;
    padding: 20px 49px;
    margin-bottom: 21px;
    margin-top: 20px;
    font-size:15px;
}
.list{
    padding-left: 0px;
    margin: 21px;
    margin-top: 11px;
}
li::marker, ul::marker{
    font-size: 1.5em;
    color: var(--secondary-color);
}   
.list--end{
    padding-bottom: 90px;
}
.map{
    margin: 50px -21px 0px -21px;
}
.map > img{
    max-width: auto;
}
.form{
    margin:0 21px 0 21px;
}
.form > p{
    font-size:14px;
}
.contacts{
    color:var(--secondary-color);
    margin-bottom: 50px;
}
.contacts > p{
    display: flex;
    align-items: center;
}
.contacts--number::before{
    display:inline-block;
    height:30px;
    width:30px;
    content: " ";
    background: url(../media/icons/call_24px_outlined.svg) no-repeat;
    background-position: center;
    background-size: 20px;
    border: var(--secondary-color) solid 2px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    margin-right:16px;
}
.contacts--email::before{
    display:inline-block;
    height:30px;
    width:30px;
    content: " ";
    background: url(../media/icons/email_24px_outlined.svg) no-repeat;
    background-position: center;
    background-size: 20px;
    border: var(--secondary-color) solid 2px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    margin-right:16px;
}
.contacts--location::before{
    display:inline-block;
    height:30px;
    width:30px;
    content: " ";
    background: url(../media/icons/location_on_24px_outlined.svg) no-repeat;
    background-position: center;
    background-size: 20px;
    border: var(--secondary-color) solid 2px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    margin-right:16px;
}
.grid-field{
    margin-top: 35px;
    margin-bottom:70px ;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(auto,320px) );
}
figure{
    margin:0px;
}
.cta__button--continue{
    visibility: hidden;
}
@media screen and (min-width:833px) {
    h3{
        font-size: 30px;
    }
    .cta__button--continue{
        visibility: visible;
    }
    h1{
       font-size:60px ; 
    }
    p{
        font-size: 16px;
    }
    .navbar__logo{
        margin: 0;
        width: 100%;
        height: 100%;
    }
    menu{
        display: flex;
    }
    .menu{
        background: none;
        position: relative;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        font-size: 1.5em;
    }
    .menu a{
        color: rgba(136, 136, 136, 1);
        border: none;
    }
    .menu a:hover{
        background-color: var(--secondary-color);
        color:white;
    }
    menu::after{
        content:none;
    }
    .navbar menu ul li a{
        visibility: visible;
    }
    nav{
        margin-top: 20px;
        max-width: 1510px;
    }
    a.hamburger{
        visibility: hidden;
    }
    .navbar menu ul{
        justify-content: center;
        display: flex;
        list-style-type: none;
    }
    .navbar menu ul li a {
        display: block;
        text-decoration: none;
        color: black;
    }
    .home-title{
       height: 1080px;
    }
    .home-title--text{
        justify-content: end;
    }
    .home-title  h1{
        font-size:120px ;
    }
    .home-title h1>span{
        font-size: 60px;
        font-family: 'Open Sans', sans-serif;;
        font-weight: 300;
    }
    #introduction--title{
        font-size:60px ;
    }
    .introduction p{
        font-size: 20px;
        width: 890px;
    }
    .introduction{
        display: flex;
        align-items: center;
        margin-bottom: 155px;
    }
    .content-wrapper{
        margin:0px 15vh 0px 15vh;
    }
    .services{
        margin-bottom: 220px;
    }
    .services__komunikace{
        display: flex;
        flex-direction: row-reverse;
        margin-top: 100px;
    }
    .services--img{
        flex: 1 1 0px;
    }
    .services__text{
        flex: 1 1 0px;
    }
    .services__prumyslove{
        display: flex;
        flex-direction: row-reverse;
        margin-top: 100px;
    }
    .services__novostavby{
        display: flex;
        margin-top: 100px;
    }
    .services__rekonstrukce{
        display: flex;
        margin-top: 100px;
    }
    .services__text--left{
        margin-right:10em;
    }
    .services__text--right{
        margin-left: 10em;
    }
    .duvera{
        height: 490px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 205px;
    }
    .duvera > p{
        font-size:30px;
    }
    .cta__button--duvera{
        padding: 20px 80px;
        margin-top: 60px;
        font-size: 20px;
    }
    .reference{
        margin: 0px 15vh;
    }
    .reference__text{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .reference__text > h2{
        font-size: 60px;
    }
    .reference__text > p{
        width: 890px;
    }
    .reference__items{
        display: flex;
    }
    .reference__item{
        margin-right: 80px;
    }
    #btn-reference{
        display: inline-block;
    }
    .reference__item--plochy{
        margin-right: 0px;
    }
    .reference__text--hidden{
        visibility: hidden;
    }
    .reference__item--hasici:hover{
        background: rgba(235, 108, 39, 0.9);
    }

    .footer__text > p{
        font-size: 25px;
    }
    .footer__text--title{
        font-size: 60px !important;
        margin-bottom: 20px;
    }
    .cta__button--white{
        padding: 20px 69px;
    }
    .intoduction--different {
        display:flex ;
        align-items: flex-start;
        margin-bottom: 15px;
    }
    .introduction--reference{
        display: flex;
        justify-content: center;
    }
    .intoduction--different > h1{
        align-self: center;
    }
    .list{
        margin-left: 100px;
    }
    .article{
        margin-bottom: 220px;
    }
    .article > p{
        font-size: 16px;
        margin-bottom: 20px;
    }
    #bigger-margin{
        margin-bottom: 50px;
    }
    .grid-field{
        grid-template-columns: repeat(3, 1fr);
        grid-auto-flow: dense;
    }
    .grid-item-3{
        grid-row: span 3;
        grid-column-start: 1;
    }
    .grid-item{
        align-self: end;
    }
    .contacts--all{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .contacts{
        display: flex;
        text-align: left;
        flex-direction: column;
    }
    .contacts > p{
        font-size: 20px;
    }
    .contacts--number::before{
        height: 60px;
        width: 60px;
    }
    .contacts--email::before{
        height: 60px;
        width: 60px;
    }
    .contacts--location::before{
        height: 60px;
        width: 60px;
    }
    .map{
        margin-right: -205px;
    }
    .map > img{
        width: 850px;
    }
    .form >h2{
        font-size: 30px;
    }
    .form > p{
        font-size: 16px;
    }
}