:root{
    --secondary-color:rgba(235, 108, 39, 1); 
}
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}
p{
    font-family: 'Inter', sans-serif;
    margin-bottom: 0px;
    font-size: 14px;
}
a{
    text-decoration: none;
    color:inherit;
}
h2{
    letter-spacing: -0.05em;
}
nav{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    margin: 0px 20px 24px 0px;
    height: 70px;
    width: 100%;
}
img{
    width: 100%;
}
menu li{
    color:white;
    list-style-type: none;
}
.navbar__logo>img{
    margin: 10px;
    width: 130px;
}
/*menu{
    margin-top: 0px;
    position: absolute;
    display: flex;
    left:0;
    right: 0;
    top:100%;
    flex-direction: column;
    list-style-type: none;
    background-color: var(--secondary-color);
}
menu::after{
    content:" ";
    position: absolute;
    right:0;
    top:0;
    width: 0;
    height: 0;
    margin-right: calc((46px - 25px) / 2);
    transform: translateY(-100%);
    border: 12.5px solid white;
    border-bottom-color: var(--secondary-color);
    border-bottom-style: solid;
    border-bottom-width: 25px;
    border-top:none;
}
menu a{
    text-decoration: underline;
}
.hamburger{
    display: inline-block;
    flex-direction: column;
    color:black;
    width:50px;
    float: right;
    
}

.hamburger::after{
    content: url(../media/hamburger.svg);
}
@media screen and (max-width: 832px) {
    menu{
        display:block;
    }
    .hamburger-menu-hidden{
        z-index: -1;
    }
}
@media screen and(min-width:840px) {
    .hamburger-menu-hidden{
        display: none;
    }
}*/
.home-title{
    background: linear-gradient(0deg, rgba(36, 36, 36, 0.4), rgba(36, 36, 36, 0.4)), linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #42332A 0%, rgba(255, 255, 255, 0) 100%),url(../media/pageheader-1920w.jpg);
    background-blend-mode: normal, normal, hue, normal;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    flex-direction: column;
    padding-bottom: 20px;
}
.home-title >h1{
    font-weight: 800;
    margin:0px;
}
.home-title >p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin:0px;
}
.content-wrapper{
    margin:0 21px 0 21px;
}
.introduction{
    display: flex;
    flex-direction: column;
    padding-top:55px;
}
.introduction > h2{
    margin-bottom: 20px;
}
.services > div > img{
    width: 320px;
    height: 134px;
}
.services__novostavby > img{
    border-radius: 0px 0px 40px 0px;
}
.services__prumyslove > img{
    border-radius: 0px 0px 0px 20px;
}
.services__rekonstrukce > img{
    border-radius: 0px 0px 40px 0px;
}
.services__komunikace > img{
    border-radius: 0px 0px 0px 40px;
}
.cta__button--dashed{
    border: 2px dashed var(--secondary-color);
    color: var(--secondary-color);
    font-family:'Inter', sans-serif;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 12px 40px;
    margin-bottom: 40px;
}
.duvera{
    background:linear-gradient(0deg, rgba(36, 36, 36, 0.8), rgba(36, 36, 36, 0.8)), linear-gradient(180deg, rgba(66, 51, 42, 0.4) 0%, rgba(255, 255, 255, 0) 100%),url(../media/background-CTAblock-4460w.jpg);
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 190px;
    font-weight: 700;
    padding: 23px 20px 20px 20px;
    font-size: 17px;
}
.reference > div >a>img{
    width: 320px;
}
.cta__button--orange{
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: white;
    font-family:'Inter', sans-serif;
    font-weight: 700;
    display: inline-block;
    text-decoration: none;
    padding: 12px 40px;
    margin-bottom: 21px;
    margin-top: 20px;
    font-size:14px;
}
.reference{
    margin:0 21px 0 21px;
    text-align: center;
}
.reference__text{
    margin-bottom: 62px;
}
.reference__item{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}
.reference--main{
    margin-top: 64px;
    margin-bottom: 90px;
}
.reference__item >h2{
    margin-bottom: 0px;
}
.reference__item >p{
    margin-top: 0px;
}
#btn-reference{
    margin-bottom: 100px;
}
footer{
    background-color: var(--secondary-color);
    color:white;
    height: 285px;
    text-align: center;
    padding-top: 65px;
}
.article{
    padding-bottom: 50px;
}
footer > h2{
    font-size: 22px;
}
.footer__text{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.footer__text > p{
    font-size: 15px;
}
.cta__button--white{
    border: 2px solid white;
    background-color: white;
    color: var(--secondary-color);
    font-family:'Inter', sans-serif;
    font-weight: 700;
    display: inline-block;
    text-decoration: none;
    padding: 20px 49px;
    margin-bottom: 21px;
    margin-top: 20px;
    font-size:15px;
}
.list{
    padding-left: 0px;
    margin: 21px;
    margin-top: 11px;
    list-style: none;
}
.list > li::before{
    content: "\2022";  
    color: var(--secondary-color);  
    display: inline-block;
    align-items: center; 
    width: 1em; 
    margin-left: -1em;
    font-size: 20px;
}
.list--end{
    padding-bottom: 90px;
}
.map > img{
    max-width: 360px;
}
.form{
    margin:0 21px 0 21px;
}
.form > p{
    font-size:14px;
}
.contacts{
    color:var(--secondary-color);
    margin-bottom: 50px;
}
.contacts > p{
    display: flex;
    align-items: center;
}
.contacts--number::before{
    display:inline-block;
    height:30px;
    width:30px;
    content: " ";
    background: url(../media/icons/call_24px_outlined.svg) no-repeat;
    background-position: center;
    background-size: 20px;
    border: var(--secondary-color) solid 2px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    margin-right:16px;
}
.contacts--email::before{
    display:inline-block;
    height:30px;
    width:30px;
    content: " ";
    background: url(../media/icons/email_24px_outlined.svg) no-repeat;
    background-position: center;
    background-size: 20px;
    border: var(--secondary-color) solid 2px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    margin-right:16px;
}
.contacts--location::before{
    display:inline-block;
    height:30px;
    width:30px;
    content: " ";
    background: url(../media/icons/location_on_24px_outlined.svg) no-repeat;
    background-position: center;
    background-size: 20px;
    border: var(--secondary-color) solid 2px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    margin-right:16px;
}
.grid-field{
    margin-top: 35px;
    margin-bottom:70px ;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(auto,320px) );
}
figure{
    margin:0px;
}
@media screen and (min-width:1920px) {
    .navbar ul li a{
        visibility: visible;
    } 
}